<mat-card>
  <mat-card-content>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-form-field>
        <input matInput [matDatepicker]="minDatePicker" [(ngModel)]="minDate" placeholder="Min date"
               [disabled]="inputDisabled">
        <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #minDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-form-field>
        <input matInput [matDatepicker]="maxDatePicker" [(ngModel)]="maxDate" placeholder="Max date"
               [disabled]="inputDisabled">
        <mat-datepicker-toggle matSuffix [for]="maxDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #maxDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <button mat-raised-button color="primary" (click)="transform()">Search</button>
    </div>
  </mat-card-content>
</mat-card>

<div>
	<div>
		<mat-card>
      <div *ngIf="currentProjectUrl">
        <iframe  [src]="currentProjectUrl | safe: 'resourceUrl'" height="900" width="100%"></iframe>
      </div>
		</mat-card>
	</div>

</div>
